
<%= render "shared/cocktail_banner" %>



<div class="container padded">
  <h1 class="text-center">All your Cocktails</h1>
  <div class="row">
  <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "shared/cocktail_card", cocktail: c %>
    </div>
  <%end%>
  </div>

  <div id="btn-new-cocktail">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>

</div>


