
<% content_for(:title) do %>
  Chez Rico
<% end %>

<%= render "shared/cocktail_banner" %>



<div class="container padded">
  <h1 class="text-center">All your Cocktails</h1>
  <div class="row">
  <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <%= render "shared/cocktail_card", cocktail: c %>
    </div>
  <%end%>
  </div>

 <!--  <div id="btn-new-cocktail">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div> -->

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add a new cocktail
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add a new title</h4>
        </div>
        <div class="modal-body">
          <%= render "cocktails/new", cocktail: @cocktail %>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

</div>


